html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    line-height: 1.5;
}

body {
    background-color: #e8e7e7;
}

html,
body,
* {
    box-sizing: border-box;
}

header {
    display: flex;
    height: 42px;
    background-color: #423658;
    color: #aaa;
}

main {
    height: calc(100vh - 42px);
}

.head {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.sided {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #d1cece;
}

.sided .left {
    border-right: 1px solid #d1cece;
    overflow: auto;
    height: 100%;
    padding: 40px 0;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 0 40px 0;
    font-family: "Google Sans Code", monospace;
}

.intro .name {
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    border: 1px solid #423658;
    padding: 4px 10px;
    border-radius: 20px;
}

.intro .person-avt {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #423658;
    padding: 8px;
    background-color: #fff;
    display: block;
}

.intro .iconed-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #423658;
    font-size: 14px;
    text-decoration: none;
    line-height: 1;
}

.intro>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.langs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;
    border-top: 1px solid #d1cece;
    border-bottom: 1px solid #d1cece;
    padding: 12px 0;
    gap: 10px;
}

.projects {
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.projects .inner {
    background-color: #f0f0f0;
    display: grid;
    margin-left: -1px;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;
}

.projects .inner>div {
    border: 1px solid #d1cece;
    margin-bottom: -1px;
    padding: 16px 20px;
    margin-right: -1px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.projects .inner>div:first-child {
    border-radius: 8px 0 0 0;
}

.projects .inner>div:nth-child(2) {
    border-radius: 0 8px 0 0;
}

.projects .inner>div:nth-last-child(2) {
    border-radius: 0 0 0 8px;
}

.projects .inner>div:last-child {
    border-radius: 0 0 8px 0;
}

.project .icon {
    height: 80px;
    width: 80px;
    background-color: #423658;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 1;
    font-weight: 600;
    color: #fff;
    flex-shrink: 0;
    flex-grow: 0;
}

.project .links {
    display: flex;
    gap: 8px;
    border-top: 1px solid #ddd;
    padding-top: 8px;
    margin-top: 8px;
}

.project .links a {
    font-size: 12px;
    line-height: 1;
    text-decoration: none;
    color: #2e4bf5;
    font-weight: bold;
    display: flex;
}

.project .links a:hover {
    text-decoration: underline;
}

.project .title {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 4px;
    color: #423658;
}

.project>div:nth-child(2) {
    flex-grow: 1;
}

.project .desc {
    font-size: 12px;
    line-height: 1.5;
    color: #666;
}

.sided .right {
    background-color: #dde6e1;
    padding: 40px;
    overflow: auto;
}

.iconed-header {
    display: flex;
    gap: 16px;
    align-items: center;
}

.iconed-header .title {
    font-size: 20px;
    line-height: 1.2;
}

.iconed-header .desc {
    opacity: 0.6;
}

.terminal {
    background-color: #423658;
    color: #fff;
    border-radius: 8px;
    margin-top: 16px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

.terminal-head {
    background-color: #686868;
    padding: 8px 12px;
    border-radius: 8px 8px 0 0;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.terminal-head .ctrl {
    display: flex;
    gap: 8px;
}

.terminal-head .ctrl span {
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.70);
}

.terminal-head .ctrl span:nth-child(1) {
    background-color: #ff5f56;
}

.terminal-head .ctrl span:nth-child(2) {
    background-color: #ffbd2e;
}

.terminal-head .ctrl span:nth-child(3) {
    background-color: #27c93f;
}

.terminal-head .search {
    width: 152px;
}

.terminal-head .search input {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    line-height: 1;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 2px 8px;
    border: 1px solid rgba(0, 0, 0, 0.60);
    color: #27d361;
}

.terminal-head .search input:focus {
    background-color: rgba(0, 0, 0, 0.6);
}

.terminal-body {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    padding: 0;
}

.terminal-body .line {
    font-size: 12px;
    line-height: 1;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.terminal-body .line.comment {
    color: #27d361;
}

.terminal-body .line.comment::before {
    content: "#";
    display: inline-block;
    width: 6px;
}

.terminal-body .line.command::before {
    content: "$";
    display: inline-block;
    width: 6px;
}

.terminal-body .line.command:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.terminal-body .line.command .cmd {
    color: #d5cf8e;
}

.terminal-body .line.command .opts {
    color: #b3c133;
}

.terminal-body .line.command .url {
    color: #a9b1eb;
}

.terminal-body .line.command .pipe {
    color: #dd6d6d;
}

.terminal-body .line.command .env {
    color: #fe9aff;
}

.terminal-body .block {
    padding: 8px 0;
}

.terminal-body .block.is-hidden {
    display: none;
}

.terminal-body .block+.block {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

i.gitbash,
i.macos,
i.linux {
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
}

i.linux {
    background-image: url(/img/linux.svg);
}

i.macos {
    background-image: url(/img/macos.svg);
}

i.gitbash {
    background-image: url(/img/gitbash.svg);
    margin-bottom: -2px;
}

.termtxt {
    padding: 40px 40px;
    margin: 30px 0 40px 0;
    background-color: #dde6e1;
    background-image: radial-gradient(currentColor 1px, transparent 1px);
    background-size: 16px 16px;
    color: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: 1px dashed rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.termtxt svg,
.termtxt img {
    display: block;
    width: auto;
    height: auto;
    max-height: 80px;
    max-width: 100%;
}